/* Reset and base styles  */
* {
    padding: 0px;
    margin: 0px;
    border: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --fz-14: 14px;
    --fz-15: 15px;
    --fz-16: 16px;
    --fz-17: 17px;
    --fz-18: 18px;
    --fz-19: 19px;
    --fz-20: 20px;
    --fz-21: 21px;
    --fz-22: 22px;
    --fz-23: 23px;
    --fz-24: 24px;
    --fz-25: 25px;
    --fz-26: 26px;
    --fz-27: 27px;
    --fz-28: 28px;
    --fz-29: 29px;
    --fz-30: 30px;
    --fz-31: 31px;
    --fz-34: 34px;
}

.fz14 {
    font-size: var(--fz-14);
}

.fz16 {
    font-size: var(--fz-16);
}

.fz18 {
    font-size: var(--fz-18);
    color: #4a4a59;
}

.fz20 {
    font-size: var(--fz-20);
}

.fz24 {
    font-size: var(--fz-24);
}

.fz34 {
    font-size: var(--fz-34);
}

.bold__text {
    font-weight: 500;
}

.bolder__text {
    font-weight: 600;
}

body {
    overflow-x: hidden;
    background: white;
    color: #4a4a59;
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    gap: 30px;
    scroll-behavior: smooth;
}

.wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.wrapper__header {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}

.gray {
    color: rgb(110, 110, 110);
}

.white__text {
    color: #fff;
}

.white__muted__text {
    color: #c2c2c2;
}

/* Links */

a,
a:link,
a:visited {
    text-decoration: none;
    transition: all .3s ease;
}

a:hover {
    text-decoration: none;
    color: #1d1d20;
}

a.a__white:hover {
    color: #d3d3d3;
    text-shadow: 2px 2px 5px white;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-size: inherit;
    font-weight: inherit;
}

ul,
ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

img,
svg {
    max-width: 100%;
    height: auto;
    user-select: none;
}

address {
    font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
    display: none;
}

button,
input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
    outline: none;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

label {
    cursor: pointer;
}

legend {
    display: block;
}

header {
    border-bottom: 1px solid #e4e4e4;
}

.header__inner {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: space-between;
    width: 100%;
    padding: 10px 0;
}

.left__navigation {
    display: flex;
    align-items: center;
    gap: 20px;
}

.left__navigation .logo {
    max-width: 100px;
    width: 100%;
}

.right__section__header {
    display: flex;
    align-items: center;
    gap: 15px;
}

.box__arrow {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.box__arrow .arrow {
    width: 12px;
}

.profile__icon {
    max-width: 40px;
}

/* footer */

.bg__white {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: rgb(0, 0, 0);
    padding: 25px 0;
    margin-top: 50px;
}

.up__footer {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.up__footer .logo {
    max-width: 100px;
}

.nav__footer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 40px;
}

.col__footer {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.title__footer {
    margin-bottom: 20px;
}

.second__title__footer {
    margin-top: 30px;
}

.hr__White{
    border: 1px solid white;
}

.bottom__footer{
    display: flex;
    justify-content: center;
}
